@import "compass/layout/sticky-footer";

@import "layout/head";
@import "layout/foot";

@import "layout/parallax-nav";

@include sticky-footer( 45px, '.page', '.sham-foot', '.foot' );

.wallpaper {
    z-index: 1;
    }

.page, .foot {
    position: relative;
    z-index: 2;
    }

.head {
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 3;
    }

.pages {
    position: relative;
    z-index: 2;
    }

.parallax-nav {
    z-index: 1;
    }