@import "main-submenu/main-submenu_button";
@import "main-submenu/main-submenu_link";

.main-submenu {
    padding: 0 23px;
    min-width: 150px;

    background-color: rgba( #3c3c3c, 0.45);

    font-size: 14px;
    }