.main-menu_head {
    height: 70px;
    line-height: 70px;
    padding: 0 24px;
    color: #b3b2b2;

    text-transform: uppercase;
    font-size: 12px;

    @include text-shadow( rgba( #021921, 0.75 ) 1px 0 0 );

    cursor: default;

    @include transition-property( 'color, background-color' );
    @include transition-duration( $default-transition-duration );

    }

.main-menu_link__selected {
    background-color: rgba( #01759a, 0.22 ) !important;
    color: white !important;
    cursor: default;
    }