.main-submenu_link {
    margin: 0 -23px;
    padding: 11px 23px 9px;
    display: block;
    color: #c8c8c8;
    text-decoration: none;

    @include transition-property( 'color, background-color' );
    @include transition-duration( $default-transition-duration );

    &:hover {
        margin-top: -1px;
        margin-bottom: -1px;
        padding-top: 12px;
        padding-bottom: 10px;
        color: white;
        background-color: rgba( white, 0.08 );
        }
    }