.sound-button {
    width: image-width( "/images/sound-on.png" );
    height: 70px;
    }

.sound-button__on {
    .sound-button_on {
        @include opacity( 0 );
        }

    .sound-button_off {
        @include opacity( 1 );
        }
    }

.sound-button_on,
.sound-button_off {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: image-height( "/images/sound-on.png" ) / -2;
    width: image-width( "/images/sound-on.png" );
    height: image-height( "/images/sound-on.png" );
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;
    @include user-select( none );
    @include single-transition( opacity );
    }

.sound-button_on {
    color: white;
    background-image: url( /images/sound-on.png );

    @include opacity( 1 );
    }

.sound-button_off {
    color: white;
    background-image: url( /images/sound-off.png );

    @include opacity( 0 );
    }