.context-menu-header {
    padding-bottom: 4px;

    border-bottom: 1px solid #62cff1;

    text-transform: uppercase;
    cursor: default;
    }

.context-menu-header__single {
    padding-bottom: 8px;

    border-bottom: none;
    cursor: pointer;
    }