.parallax-nav_single_crystal {
    position: absolute;
    }

.parallax-nav_single_crystal__link {
    cursor: pointer;
    color: white;
    text-decoration: none;
    }

.parallax-nav_single_crystal_normal,
.parallax-nav_single_crystal_bright {
    @include stretch;

    background-position: center;
    background-repeat:   no-repeat;
    }