#crystal-2 {
    left: 390px;
    top: -161px;

    width:  image-width(  "/images/crystal-single2.png" );
    height: image-height( "/images/crystal-single2.png" );

    .parallax-nav_single_crystal_normal {
        background-image: url( /images/crystal-single2.png );
        }

    .parallax-nav_single_crystal_bright {
        background-image: url( /images/crystal-single2-bright.png );
        }

    .context-menu {
        top:  66px;
        left: 118px;
        }
    }
