#crystal-group-0 {
    background-image: url(/images/crystal-group-0.png);
    }

#crystal-group-1 {
    background-image: url(/images/crystal-group-1.png);
    }

#crystal-group-2 {
    background-image: url(/images/crystal-group-2.png);
    }

#crystal-group-3 {
    background-image: url(/images/crystal-group-3.png);
    }

#crystal-group-4 {
    background-image: url(/images/crystal-group-4.png);
    }

#crystal-group-5 {
    background-image: url(/images/crystal-group-5.png);
    }

#crystal-group-6 {
    background-image: url(/images/crystal-group-6.png);
    }