#crystal-about {
    left: -365px;
    top:  125px;

    width:  image-width(  "/images/crystal-about.png" );
    height: image-height( "/images/crystal-about.png" );

    .parallax-nav_single_crystal_normal {
        background-image: url( /images/crystal-about.png );
        }

    .parallax-nav_single_crystal_bright {
        background-image: url( /images/crystal-about-bright.png );
        }

    .context-menu {
        top:  72px;
        left: 133px;

        width: 179px;
        }
    }
