#crystal-1 {
    left: 60px;
    top:  -55px;

    width:  image-width(  "/images/crystal-single1.png" );
    height: image-height( "/images/crystal-single1.png" );

    .parallax-nav_single_crystal_normal {
        background-image: url( /images/crystal-single1.png );
        }

    .parallax-nav_single_crystal_bright {
        background-image: url( /images/crystal-single1-bright.png );
        }


    .context-menu {
        top:  80px;
        left: 85px;

        width: 180px;
        }

    }
